body {
	background:#FF0000;
}
article {
	width:500px;
	background:#1E90FF;
	margin:10px 30px;
	padding: 20px;
	border: 15px solid; 
	display: inline-block;
}
aside {
  width:800px;
  background:#FFFF00;
  margin:100px 20px;
  padding:20px;
  border: 15px solid;
}
div {
     width: 300px;
}
footer {
	  border: 15px solid;
}
